/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}
body{
  background: #3f3a46;
  .card{
    width: 95%;
    max-width: 100%;
    background: linear-gradient(135deg, #CCCCFF, #ffcce8, #ffd4b1);
    color: #ffffff;
    margin: 25px auto 25px;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}
}

